# Archivos de configuración del editor
# Ignora todo en .vscode excepto el archivo de configuración compartido.
.vscode/*
!.vscode/settings.json

# DOCS
docs/*
!docs/plan.md

# Ignorar variables de entorno
.env

# Ignorar dependencias locales de Node
node_modules/