#xtv_menu *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#xtv_menu{
    z-index: 99999999;
    display: none;
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    min-width: 100px;
    max-width: 500px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgba(0,0,0,0.85);
}

#xtv_menu.show{
    display: block;
    
}

#xtv_menu .channel{
    cursor: pointer;
    display: block;
    margin: 10px;
    padding: 10px;
    border: 4px solid white;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: rgba(31, 41, 2, 0.85);
}
#xtv_menu .channel:hover{
    filter: opacity(.5);
}
#xtv_menu .channel.selected{
    border-color: rgb(59, 209, 0);
}
#xtv_menu .channel.active{
    color: rgb(59, 209, 0);
}